<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

<nav>
  <a href="projects">
    <p>Projects</p>
  </a>

  <a href="skills">
    <p>Skills</p>
  </a>

  <a href="about">
    <p>About me</p>
  </a>
</nav>

<header>
  <div class="profile-about">
    <div class="second-paper">
      <div class="first-paper">
        <%= image_tag "Albin.jpg", class: "profile-pic" %>
      </div>
    </div>
  </div>
</header>
