<link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

<nav>
  <div class="projects">
    <div class="suitcase-1 icon"></div>
    <p>Projects</p>
  </div>
  <div class="skills">
    <div class="suitcase-1 icon"></div>
    <p>Skills</p>
  </div>
  <div class="me">
    <div class="suitcase-1 icon"></div>
    <p>About me</p>
  </div>
</nav>
