// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #333333;
$lessblack: #4f4f4f;
$white: #ffffff;
$yellow: #ffe735;
$lightgrey: #eaeaea;

//Natural
$darkgreen: #2E4600;
$green: #486B00;
$lime: #A2C523;
$brown: #7D4427;

//Starmont Church
$Cblack: #282828;
$Cgrey: #686868;
$Cgreen: #00402e;
$Clightgreen: #00805d;
$Corange: #ffa500;

//Mobalytics
$Mdarkpurple: #0F0627;
$Mpurple: #1d123e;
$Myellow: #ffde4d;
$Mgrey: #778ea5;
$bluegrey: #36456A;

body {
  padding: 0;
  margin: 0;
  background-color: $white;
}

.main-img {
  position:absolute;
  left:0px;
  top:0px;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
  object-fit: cover;
  z-index: -100;
}

.second-background {
  opacity: 0;
  background-color: $Cgrey;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  overflow: hidden;

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.second-background::after {
  content: '';
  position:absolute;
  left:-500px;
  bottom:0px;
  width: 70vw;
  height: 80vh;
  background-color: $white;
  //rotation
  -ms-transform: rotate(69.5deg); /* IE 9 */
  -webkit-transform: rotate(69.5deg); /* Safari */
  transform: rotate(69.5deg);
}

.second-background::before {
  content: '';
  position:absolute;
  left:-480px;
  bottom:0px;
  width: 70vw;
  height: 80vh;
  background-color: $black;
  //rotation
  -ms-transform: rotate(70deg); /* IE 9 */
  -webkit-transform: rotate(70deg); /* Safari */
  transform: rotate(70deg);

}

.logo {
  position: relative;
  background-color: white;
  z-index: 100;
  color: $lessblack;
  width: 0px;
  margin-top: 3vh;
  margin-left: 7.5vw;
  padding-top: 20px;
  padding-bottom: 20px;
  //No text target
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.logo p {
  text-align: center;
}

.logo .A {
  font-size: 49px;
  line-height: 40px;
}

.logo .P {
  font-size: 58px;
  line-height: 40px;
}

.logo .S {
  font-size: 70px;
  line-height: 55px;
}
.logo p span {
  opacity: 0;
}


.intro {
  width: 100%;
  position: absolute;
  color: $white;
  text-align: center;
  font-family: 'Patua One', cursive;
  font-size: 55px;
  top: 57%;
  display:none;
}

.icon-container {
  display: inline-flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  margin-bottom: 12vh;
}

.links {
  margin-left: 6.6px;
  margin-bottom: 5px;
  display: inline-block;
  width: 35px;
  height: auto;
}

svg {
  enable-background:new 0 0 438.549 438.549;
  width: 100%;
  display: flex;
  fill: $white;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

svg:hover {
  fill: $Corange;
  opacity: 1;
}

.scroll:hover {
  background-color: $white;
  //-webkit-box-shadow: inset 0px 0px 5px 0px $black;
  //-moz-box-shadow: inset 0px 0px 5px 0px $black;
  //box-shadow: inset 0px 0px 5px 0px $black;
  color: $black;

}

p {
  font-family: 'Patua One', cursive;
  margin: 0;
  padding: 0;
}

.nav-excluder {
  padding-left: 100px;
}

header {
  margin-left: 100px;
}

.introduction {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border {
  display: flex;
  width: 14vw;
  height: 14vw;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 0px 1px $Myellow;
  -moz-box-shadow: 0px 0px 0px 1px $Myellow;
  box-shadow: 0px 0px 0px 1px $Myellow;
}

.profile-pic {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 12vw;
  height: 12vw;
  overflow: auto;
}

.introduction-text {
  padding-left: 5vw;
  padding-right: 5vw;
}

.introduction-text > p {
  color: #6F6885;
}
