// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$black: #333333;
$lessblack: #4f4f4f;
$white: #ffffff;
$yellow: #ffe735;
$lightgrey: #a3a3a3;

//Natural
$darkgreen: #2E4600;
$green: #486B00;
$lime: #A2C523;
$brown: #7D4427;

//Starmont Church
$Cblack: #282828;
$Cgrey: #686868;
$Cgreen: #00402e;
$Clightgreen: #00805d;
$Corange: #ffa500;

$Myellow: #ffde4d;

body {
  padding: 0;
  margin: 0;
  background-color: $white;
}

.main-img {
  position:absolute;
  left:0px;
  top:0px;
  width: 100vw;
  height: 100vh;
  filter: blur(3px);
  object-fit: cover;
  z-index: -100;
}

.second-background {
  opacity: 0;
  background-color: $Cgrey;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -99;
  overflow: hidden;
}

.logo {
  position: relative;
  background-color: white;
  z-index: 100;
  color: $lessblack;
  width: 0px;
  margin-top: 3vh;
  margin-left: 7.5vw;
  padding-top: 20px;
  padding-bottom: 20px;
  //No text target
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.logo p {
  text-align: center;
}

.logo .A {
  font-size: 49px;
  line-height: 40px;
}

.logo .P {
  font-size: 58px;
  line-height: 40px;
}

.logo .S {
  font-size: 70px;
  line-height: 55px;
}
.logo p span {
  opacity: 0;
}


.intro {
  width: 100%;
  position: absolute;
  color: $white;
  text-align: center;
  font-family: 'Patua One', cursive;
  font-size: 55px;
  top: 57%;
  display:none;
}

.icon-container {
  display: inline-flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  margin-bottom: 12vh;
}

.links {
  margin-left: 6.6px;
  margin-bottom: 5px;
  display: inline-block;
  width: 35px;
  height: auto;
}

.scroll:hover {
  background-color: $white;
  //-webkit-box-shadow: inset 0px 0px 5px 0px $black;
  //-moz-box-shadow: inset 0px 0px 5px 0px $black;
  //box-shadow: inset 0px 0px 5px 0px $black;
  color: $black;

}

p {
  font-family: 'Patua One', cursive;
  margin: 0;
  padding: 0;
}

.nav-excluder {
  padding-left: 100px;
}

header {
  margin-left: 100px;
}

.introduction {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border {
  display: flex;
  width: 14vw;
  height: 14vw;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 0px 1px $Myellow;
  -moz-box-shadow: 0px 0px 0px 1px $Myellow;
  box-shadow: 0px 0px 0px 1px $Myellow;
}

.profile-pic {
  margin-left: 1vw;
  margin-right: 1vw;
  width: 12vw;
  height: 12vw;
  overflow: auto;
}

.introduction-text {
  padding-left: 5vw;
  padding-right: 5vw;
}

.introduction-text > p {
  color: #6F6885;
}

.second-scroll-container {
  display: none;
  position:absolute;
  top: 150px;
  left: 0px;
}

.second-scroll {
  display: flex;
  padding-left: 4vw;
  font-size: 35px;
  width: 15vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
  pointer-events: none;
  cursor: default;
}

.second-scroll:hover {
  background-color: #FFFFFF;
  color: $lessblack;
}

.second-background-content-container {
  display: relative;
  position: absolute;
  padding-top: 10vh;
  top: 0;
  left: 18vw;
  width: 80vw;
}

.sScontent {
  opacity: 0;
}

.sScontent-container {
  display: flex;
  flex-direction: column;
}

.sScontent-img {
  width: 30vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sScontent-cutoff-container {
  margin: auto;
  display: flex;
  flex-direction: row;
}
.sScontent-cutoff {
  margin-top: 13px;
  margin-right: 4px;
  margin-left: 4px;
  background-color: $lightgrey;
  height: 1px;
  width: 12vw;
}

.sScontent-button-container {
  padding-top: 5vh;
  margin: auto;
}

.sScontent-cutoff-text {
  font-size: 20px;
  color: #909090;
}

//custom btn by Ahmed Beheiryy

button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.btn-4 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-4 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-4:before,
.btn-4:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-4:before {
  height: 50%;
  width: 2px;
}
.btn-4:after {
  width: 20%;
  height: 2px;
}
.btn-4:hover:before {
  height: 100%;
}
.btn-4:hover:after {
  width: 100%;
}
.btn-4 span:before,
.btn-4 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}
.btn-4 span:before {
  width: 2px;
  height: 50%;
}
.btn-4 span:after {
  width: 20%;
  height: 2px;
}
.btn-4 span:hover:before {
  height: 100%;
}
.btn-4 span:hover:after {
  width: 100%;
}
